{% extends 'layout.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<h3 style="text-align: center;">Admin Dashboard</h3>
<br>
<div>
    <div class="row">
        <div class="col md-12">
            <!-- Display car rental history -->
            <div class="rentalist">
                <h5>Rental History</h5>
                <hr>
                <button id="recButton" class='recB'>REC</button>
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Booking id</th>
                            <th scope="col">Car id</th>
                            <th scope="col">Car</th>
                            <th scope="col">Color</th>
                            <th scope="col">Cost/Hr</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings: %}
                        <tr>
                            <td>{{ booking['bookingid'] }}</td>
                            <td>{{ booking['car']['carid'] }}</td>
                            <td>{{ booking['car']['make'] }}</td>
                            <td>{{ booking['car']['color'] }}</td>
                            <td>${{ booking['car']['costperhour'] }}</td>
                            <td>{{ booking['fromdate'] }}</td>
                            <td>{{ booking['todate'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End of rental list -->

            <!-- List of users -->
            <div class="userlist" style="margin-top: 50px;">
                <h5>List of Users</h5>
                <hr>
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target="#addUserModal">
                    Add new user
                </button>
                <button id="recButton" class='recB'>REC</button>
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">user id</th>
                            <th scope="col">email</th>
                            <th scope="col">first name</th>
                            <th scope="col">last name</th>
                            <th scope="col">role</th>
                            <th scope="col">mac</th>
                            <th scope="col">edit</th>
                            <th scope="col">delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users: %}
                        <tr>
                            <td>{{ user['userid'] }}</td>
                            <td>{{ user['email'] }}</td>
                            <td>{{ user['fname'] }}</td>
                            <td>{{ user['lname'] }}</td>
                            <td>{{ user['role'] }}</td>
                            <td>{{ user['macaddress'] }}</td>
                            <td>
                                <button type="button" class="btn btn-link btn_editUserModal">
                                    edit
                                </button>
                            </td>
                            <td>
                                <form action="{{ url_for('site.del_user') }}" method="post">
                                    <input type="hidden" name="userid" id="userid" value="{{ user['userid'] }}">
                                    <input type="submit" class="btn btn-link" value="delete" />
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Add User Modal -->
            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form id="addUserForm" action="{{ url_for('site.register') }}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control form-control-sm" id="username"
                                        name="username" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control  form-control-sm" id="password"
                                        name="password">
                                </div>
                                <div class="form-group">
                                    <label>First name</label>
                                    <input type="text" class="form-control  form-control-sm" id="fname" name="fname">
                                </div>
                                <div class="form-group">
                                    <label>Last name</label>
                                    <input type="text" class="form-control  form-control-sm" id="lname" name="lname">
                                </div>
                                <div class="form-group">
                                    <label>Mac Address</label>
                                    <input type="text" class="form-control  form-control-sm" id="macaddress"
                                        name="macaddress">
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control form-control-sm" name="role">
                                        <option value="admin">Admin</option>
                                        <option value="manager">Manager</option>
                                        <option value="engineer">Engineer</option>
                                        <option value="customer">Customer</option>
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save">
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Update User Modal -->
            <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form id="editUserForm" action="{{ url_for('site.edit_user') }}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control form-control-sm" id="edit-userid"
                                        name="userid">
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control form-control-sm" id="edit-username"
                                        name="username" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label>First name</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-fname"
                                        name="fname" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Last name</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-lname"
                                        name="lname" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Mac Address</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-macaddress"
                                        name="macaddress" placeholder="macaddress">
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control form-control-sm" name="role" id="edit-role">
                                        <option value="admin">Admin</option>
                                        <option value="manager">Manager</option>
                                        <option value="engineer">Engineer</option>
                                        <option value="customer">Customer</option>
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save">
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- End of users section -->


            <!-- list of cars -->
            <div class="carlist" style="margin-top: 50px;">
                <h5>List of Cars</h5>
                <hr>
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target="#addCarModal">
                    Add new car
                </button>
                <button id="recButton" class='recB'>REC</button>
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Car id</th>
                            <th scope="col">make</th>
                            <th scope="col">bodytype</th>
                            <th scope="col">color</th>
                            <th scope="col">seats</th>
                            <th scope="col">cost/hr</th>
                            <th scope="col">location</th>
                            <th scope="col">edit</th>
                            <th scope="col">report</th>
                            <th scope="col">delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in cars: %}
                        <tr>
                            <td>{{ car['carid'] }}</td>
                            <td>{{ car['make'] }}</td>
                            <td>{{ car['bodytype'] }}</td>
                            <td>{{ car['color'] }}</td>
                            <td>{{ car['seats'] }}</td>
                            <td>{{ car['costperhour'] }}</td>
                            <td>{{ car['location'] }}</td>
                            <td>
                                <button type="button" class="btn btn-link btn_editCarModal">
                                    edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn_reportCarModal">
                                    report
                                </button>
                            </td>
                            <td>
                                <form action="{{ url_for('site.delete_car') }}" method="post">
                                    <input type="hidden" name="carid" id="carid" value="{{ car['carid'] }}">
                                    <input type="submit" class="btn btn-link" value="delete" />
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Add Car Modal -->
            <div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <form id="addCarForm" class="carForm" action="{{ url_for('site.add_car') }}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add New Car</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Make</label>
                                    <input type="text" class="form-control form-control-sm" id="make" name="make">
                                </div>
                                <div class="form-group">
                                    <label>Body</label>
                                    <input type="text" class="form-control  form-control-sm" id="body" name="body">
                                </div>
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type="text" class="form-control  form-control-sm" id="color" name="color">
                                </div>
                                <div class="form-group">
                                    <label>Seats</label>
                                    <input type="text" class="form-control  form-control-sm" id="seats" name="seats">
                                </div>
                                <div class="form-group">
                                    <label>location</label>
                                    <input type="text" class="form-control  form-control-sm" id="location"
                                        name="location">
                                </div>
                                <div class="form-group">
                                    <label>Cost/Hr</label>
                                    <input type="text" class="form-control  form-control-sm" id="cost" name="cost">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Update Car Modal -->
            <div class="modal fade" id="editCarModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <form id="editCarForm" class="carForm" action="{{ url_for('site.edit_car') }}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Edit Car</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control form-control-sm" id="edit-carid"
                                        name="carid">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Make</label>
                                    <input type="text" class="form-control form-control-sm" id="edit-make" name="make">
                                </div>
                                <div class="form-group">
                                    <label>Body</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-body" name="body">
                                </div>
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-color"
                                        name="color">
                                </div>
                                <div class="form-group">
                                    <label>Seats</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-seats"
                                        name="seats">
                                </div>
                                <div class="form-group">
                                    <label>location</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-location"
                                        name="location">
                                </div>
                                <div class="form-group">
                                    <label>Cost/Hr</label>
                                    <input type="text" class="form-control  form-control-sm" id="edit-cost" name="cost">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Report Car Issue Modal -->
            <div class="modal fade" id="reportCarModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <form id="reportCarForm" class="carForm" action="{{ url_for('site.report_car') }}"
                            method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Report an issue</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control form-control-sm" id="reportedcarid"
                                        name="carid">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Assign To</label>
                                    <select class="form-control form-control-sm" name="userid">
                                        {% for user in users: %}
                                        {% if user['role'] == 'engineer' %}
                                        <option value="{{user['userid']}}">{{user['fname']}} {{user['lname']}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label>Issue</label>
                                    <textarea class="form-control" id="issue" name="issue" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- End of car section -->



            <!-- Java script for table -->
            <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('.table').DataTable({
                        "autoFill": true,
                        "scrollY": "300px",
                        "scrollCollapse": true,
                        "paging": false
                    });

                    //open edit user modal
                    $('.btn_editUserModal').on('click', function () {
                        $('#editUserModal').modal('show');
                        console.log("opened");

                        $tr = $(this).closest('tr');

                        var data = $tr.children('td').map(function () {
                            return $(this).text();
                        }).get();

                        console.log(data);
                        $('#edit-userid').val(data[0]);
                        $('#edit-username').val(data[1]);
                        $('#edit-fname').val(data[2]);
                        $('#edit-lname').val(data[3]);
                        $('#edit-role').val(data[4]);
                        $('#edit-macaddress').val(data[5]);
                    });

                    //opens model on car-edit button click
                    $('.btn_editCarModal').on('click', function () {
                        $('#editCarModal').modal('show');

                        $tr = $(this).closest('tr');

                        var data = $tr.children('td').map(function () {
                            return $(this).text();
                        }).get();

                        console.log(data);
                        $('#edit-carid').val(data[0]);
                        $('#edit-make').val(data[1]);
                        $('#edit-body').val(data[2]);
                        $('#edit-color').val(data[3]);
                        $('#edit-seats').val(data[4]);
                        $('#edit-cost').val(data[5]);
                        $('#edit-location').val(data[6]);
                    });

                    $('.btn_reportCarModal').on('click', function () {
                        $('#reportCarModal').modal('show');
                        console.log("opened car modal");

                        $tr = $(this).closest('tr');

                        var data = $tr.children('td').map(function () {
                            return $(this).text();
                        }).get();

                        console.log(data);
                        $('#reportedcarid').val(data[0]);

                    });
                });

                //validation for add user.
                $("#addUserForm").validate({
                    rules: {
                        username: "required",
                        fname: "required",
                        lname: "required",
                        password: {
                            required: true,
                            minlength: 8
                        }
                    },
                    message: {
                        username: {
                            required: "Please enter email.",
                            email: true
                        },
                        fname: "Please enter first name.",
                        lname: "Please enter last name.",
                        password: {
                            required: "Please enter password.",
                            minlength: "Password should be atleast 8 characters."
                        }
                    }
                });

                //validation for edit user
                $("#editUserForm").validate({
                    rules: {
                        username: "required",
                        fname: "required",
                        lname: "required"
                    },
                    message: {
                        username: {
                            required: "Please enter email.",
                            email: true
                        },
                        fname: "Please enter first name.",
                        lname: "Please enter last name.",
                    }
                });

                //--------------------------------------------Car validations------------------------------------------------------
                //validation for add car
                $("#addCarForm").validate({
                    rules: {
                        make: "required",
                        body: "required",
                        color: "required",
                        cost: {
                            required: true,
                            number: true
                        },
                        seats: {
                            required: true,
                            number: true
                        }
                    },
                    message: {
                        make: "Please enter make.",
                        body: "Please enter body type.",
                        color: "Please enter car color.",
                        cost: {
                            required: "Please enter cost per hour.",
                            number: "Please enter number."
                        },
                        seats: {
                            required: "Please enter first name.",
                            number: "Please enter number.",
                        }
                    }
                });

                //validation for edit car
                $("#editCarForm").validate({
                    rules: {
                        make: "required",
                        body: "required",
                        color: "required",
                        cost: {
                            required: true,
                            number: true
                        },
                        seats: {
                            required: true,
                            number: true
                        }
                    },
                    message: {
                        make: "Please enter make.",
                        body: "Please enter body type.",
                        color: "Please enter car color.",
                        cost: {
                            required: "Please enter cost per hour.",
                            number: "Please enter number."
                        },
                        seats: {
                            required: "Please enter first name.",
                            number: "Please enter number.",
                        }
                    }
                });

                //validation for reportCarForm
                $("#reportCarForm").validate({
                    rules: {
                        issue: "required",
                    },
                    message: {
                        issue: "Please enter issue/fault in a car.",
                    }
                });

                $('.recB').addClass("notRec");
                $('.recB').click(function(){
                    var alertPhrases = ["Listening timed out whilst waiting for phrase to start","Error in understanding","Error reaching google"]
                    if($(this).hasClass('notRec')){
                        $(this).removeClass("notRec");
                        $(this).addClass("Rec");
                        elem = $(this);
                        $.get( "/api/recordAudio", function( data ) {
                            if(alertPhrases.includes(data)){
                                alert("Unable to hear! please adjust your voice and try again")
                            } else {
                            elem.next().children("#myTable_filter").find("input").val(data).trigger("click").keyup();                                
                            }
                            $('.recB').removeClass("Rec");
                            $('.recB').addClass("notRec");
                        });
                    }
                    else{
                        $(this).removeClass("Rec");
                        $(this).addClass("notRec");
                    }
                });	
                </script>
                <style>
                /*record button styles*/
                #recButton {
                    color: #ffffff;
                    position: relative;
                    float: right;
                    top: 43px;
                    z-index: 50;
                    width: 26px;
                    height: 20px;
                    font-size: 9px;
                    background-color: red;
                    border: 0;
                    border-radius: 35px;
                    margin: 18px;
                    outline: none;
                }

                .notRec{
                    background-color: darkred;
                }

                .Rec{
                    animation-name: pulse;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }

                @keyframes pulse{
                    0%{
                        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
                    }
                    65%{
                        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
                    }
                    90%{
                        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
                    }
                }
                </style>
            {% endblock %}