{% extends 'layout.html' %}

{% block title %}Manager Dashboard{% endblock %}

{% block content %}
<h3 style="text-align: center;">Manager Dashboard</h3>
<div style="text-align: center;">
    <div>
        <iframe width="600" height="350" src="https://datastudio.google.com/embed/reporting/4e02a90d-6b85-4a1f-be7e-573d88f57d24/page/D0CUB" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div style="margin-top: 100px;">
        <iframe width="600" height="350" src="https://datastudio.google.com/embed/reporting/d977db56-503e-4f01-a5da-015f212131b7/page/n3CUB" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div style="margin-top: 100px;">
        <iframe width="600" height="350" src="https://datastudio.google.com/embed/reporting/4ddb4f3c-6e20-4650-ac40-7dd9f616137d/page/A8CUB" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}