<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('site.login') }}">Login</a>
				<a href="{{ url_for('site.register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('site.register') }}" method="post" autocomplete="off">
                <label for="fname">
					<i class="fas fa-user"></i>
				</label>
                <input type="text" name="fname" placeholder="First Name" id="fname" required>
                
                <label for="lname">
					<i class="fas fa-user"></i>
				</label>
                <input type="text" name="lname" placeholder="Last Name" id="lname" required>
                
				<label for="username">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="text" name="username" placeholder="john@email.com" id="username" required>
                
                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>